n8n-workflows/gemini-proxy.json
{
  "name": "Gemini AI Proxy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gemini-proxy",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-chat",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "chat",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-switch",
      "name": "Route by Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash"
        },
        "promptType": "define",
        "text": "={{ $json.body.prompt }}",
        "options": {
          "maxOutputTokens": 4096,
          "temperature": 0.3
        }
      },
      "id": "gemini-chat",
      "name": "Gemini Chat",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [660, 200],
      "credentials": {
        "googleGeminiApi": {
          "id": "SJfn6zMueOJWLoAb",
          "name": "Google Gemini account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/text-embedding-004:embedContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $('Webhook Trigger').item.json.body.api_key || '' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'models/text-embedding-004', content: { parts: [{ text: $json.body.text }] }, taskType: 'RETRIEVAL_DOCUMENT' }) }}",
        "options": {}
      },
      "id": "gemini-embed",
      "name": "Gemini Embed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 400]
    },
    {
      "parameters": {
        "jsCode": "// Format chat response\nconst input = $input.first().json;\nconst text = input.text || input.output || '';\nreturn [{ json: { response: text, type: 'chat', status: 'ok' } }];"
      },
      "id": "format-chat",
      "name": "Format Chat Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 200]
    },
    {
      "parameters": {
        "jsCode": "// Format embedding response\nconst input = $input.first().json;\nconst embedding = input?.embedding?.values || [];\nreturn [{ json: { embedding: embedding, type: 'embedding', status: 'ok', dimensions: embedding.length } }];"
      },
      "id": "format-embed",
      "name": "Format Embed Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Route by Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Type": {
      "main": [
        [
          {
            "node": "Gemini Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemini Embed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat": {
      "main": [
        [
          {
            "node": "Format Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Embed": {
      "main": [
        [
          {
            "node": "Format Embed Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
